.questionnaire-option-card {
  display: flex;
  color: #f2f2f2;
  background: #222529;
  border-radius: 4px;
  width: 100%;
  height: 80px;
  margin: 15px 0;
  padding: 24px;

  font-family: "lexend-deca";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;

  .questionnaire-option-card-title {
    width: 80%;
  }

  .questionnaire-option-card-icons {
    width: 20%;
    text-align: right;
    i {
      color: #707483;
      font-size: 20px;
      margin-top: 8px;
    }
  }

  &.active {
    background: #d33732;
    .questionnaire-option-card-icons {
      i {
        color: #f2f2f2;
      }
    }
  }
}
