<div class="app-dialog user-form">
    <div class="wrapper"></div>
    <div class="row dialog-header position-relative">
        <div class="col">
            <i class="fal fa-times dialog-close mr-2" (click)="closeDialog()"></i>
        </div>
        <div class="col-12 dialog-title">
            <span>Change your password</span>
        </div>

        <div class="dialog-body">

            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-6 col-12 m-auto">
                        <div class="box">
                            <!-- <img class="w-100" src="assets/logo/eztoned-logo-main.png" alt="" srcset="" /> -->

                            <div class="change_password_sec">
                                <div class="row input_field">
                                    <div class="mb-3 col-md-12">
                                        <span class="field-label">Current Password</span>
                                        <input type="password" class="form-control" placeholder="Current Password"
                                            [(ngModel)]="user.currentPassword" [ngModelOptions]="{standalone:true}">
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <span class="field-label">Change Password</span>

                                        <input type="password" class="form-control" placeholder="Change Password"
                                            [(ngModel)]="user.changePassword" [ngModelOptions]="{standalone:true}">
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <span class="field-label">Confirm Password</span>

                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                            [(ngModel)]="user.confirmPassword" [ngModelOptions]="{standalone:true}">
                                    </div>
                                </div>
                            </div>
                            <div class="my-4 col-4 mx-auto">
                                <button type="button" (click)="savePassword()" class="w-100 btn submit_btn">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>