<section id="change_password" class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-4 col-12 m-auto">
                <div class="box">
                    <img class="w-100" src="assets/logo/eztoned-logo-main.png" alt="" srcset="" />

                    <div class="change_password_sec">
                        <div class="row input_field">
                            <div class="mb-3 col-md-12">
                                <span class="field-label">Change Password</span>
                                <input type="password" class="form-control" placeholder="Change Password"
                                    [(ngModel)]="user.password" [ngModelOptions]="{standalone:true}">
                            </div>
                            <div class="mb-3 col-md-12">
                                <span class="field-label">Confirm Password</span>
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    [(ngModel)]="user.changePassword" [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                    </div>
                    <div class="my-4 col-4 mx-auto">
                        <button type="button" (click)="savePassword()" class="w-100 btn submit_btn">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loading-bar></app-loading-bar>