<app-screen-wrapper>
    <section id="hero-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-9 ">
                    <div class="hero-heading">
                        <span>NO FAD DIETS.</span>
                        <span>NO FAD WORKOUTS.</span>
                        <span>100% RESULTS.</span>
                        <button type="button" class="btn-primary mt-0 mx-1" (click)="start()">
                            start free trial</button>
                        <p class="trail">7-DAY TRIAL, THEN $19 USD/WEEK</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fringilla">
        <div class="container">
            <div class="row">
                <div class="col-12 d-block d-md-none">
                    <div class="content-fringilla">
                        <span class="dite">Ditch boring, restrictive diets?</span>
                        <h3 class="heading">Fringilla Fusce Elit</h3>
                        <p class="sub-heading">Workout anytime, anywhere and however you'd like? Have unlimited access
                            to an expert coach
                            monitoring your progress?</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <img class="img-1" src="assets/landingImg/Bitmap.png" alt="" srcset="">
                    <img class="img-2" src="assets/landingImg/bitmap-3.png" alt="" srcset="">
                </div>
                <div class="col-md-3 col-6">
                    <img class="img-3" src="assets/landingImg/bitmap-2.png" alt="" srcset="">
                    <img class="img-4" src="assets/landingImg/bitmap-4.png" alt="" srcset="">
                </div>
                <div class="col-12 d-block d-md-none">
                    <div class="content-fringilla">
                        <p class="content">The EzToned Method powers longevity focused coaching programs that use
                            science-backed
                            training,
                            restriction-free diets and 1-on-1 expert coaching to crush your goals and push you further.
                        </p>
                        <button type="button" class="btn-primary mt-0 mx-1" (click)="start()">
                            start free trial</button>
                        <p class="trail">7-DAY TRIAL, THEN $19 USD/WEEK</p>

                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="content-fringilla">
                        <span class="dite">Ditch boring, restrictive diets?</span>
                        <h3 class="heading">Fringilla Fusce Elit</h3>
                        <p class="sub-heading">Workout anytime, anywhere and however you'd like? Have unlimited access
                            to an expert coach
                            monitoring your progress?</p>
                        <p class="content">The EzToned Method powers longevity focused coaching programs that use
                            science-backed
                            training,
                            restriction-free diets and 1-on-1 expert coaching to crush your goals and push you further.
                        </p>
                        <button type="button" class="btn-primary mt-0 mx-1" (click)="start()">
                            start free trial</button>
                        <p class="trail">7-DAY TRIAL, THEN $19 USD/WEEK</p>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="justforyou">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="content-section">
                        <h3 class="heading">MADE JUST FOR YOU!</h3>
                        <span class="content">When you sign-up, you will be booked in for your very first coaching call
                            with your
                            dedicated EzToned Coach! Your coach will understand your unique needs and assign you a
                            program based on your goals, habits and lifestyle.</span>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="img-section">
                        <div class="masspro img-container">
                            <span class="goal">Goal: muscle mass</span>
                            <span class="catagory">mass pro</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none d-md-flex">
                <div class="col">
                    <div class="img-section">
                        <div class="bootybuilder img-container">
                            <span class="goal">Goal: Fat loss</span>
                            <span class="catagory">booty bulider</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-section">
                        <div class="hiitxhome img-container">
                            <span class="goal">Goal: fat loss</span>
                            <span class="catagory">hIIT-X Home</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="img-section ">
                        <div class="summer img-container">
                            <span class="goal">Goal: FAT LOSS</span>
                            <span class="catagory">summer shred</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none d-md-flex">
                <div class="col-md-5">
                    <div class="img-section">
                        <div class="bodyweight img-container">
                            <span class="goal">Goal: muscle gain</span>
                            <span class="catagory">bodyweight Pro</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-section">
                        <div class="toned img-container">
                            <span class="goal">Goal: Fat loss</span>
                            <span class="catagory">summer toned</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 align-self-center">
                    <div class="img-section text-center">
                        <div class="trail-sec">
                            <button type="button" class="btn-primary mt-0 mx-1" (click)="start()">
                                start free trial</button>
                            <p class="trail">7-DAY TRIAL, THEN $19 USD/WEEK</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="d-block d-md-none">
                <p-carousel [value]="picture" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions"
                    [autoplayInterval]="3000" [circular]="false" styleClass="items-carousel" [showNavigators]="false">
                    <ng-template let-picture pTemplate="item">
                        <div class="img-section">
                            <div class="{{picture.class}} img-container mx-2">
                                <span class="goal">{{picture.goal}}</span>
                                <span class="catagory">{{picture.category}}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
                <div class="col-10 align-self-center mx-auto my-2">
                    <div class="img-section text-center">
                        <div class="trail-sec">
                            <button type="button" class="btn-primary mt-0 mx-1" (click)="start()">
                                start free trial</button>
                            <p class="trail">7-DAY TRIAL, THEN $19 USD/WEEK</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="video-sec">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div id="instructions">
                            <div class="video-border-top">
                            </div>
                            <video id="my_video_1" class="video-js vjs-default-skin" width="100%" height="100%" controls
                                preload="metadata" poster='assets/landingImg/background.png'
                                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
                            </video>
                            <div class="video-border-bottom">
                            </div>
                            <button (click)="playPause()" class="d-none">Play/Pause</button>
                            <!-- <button (click)="makeBig()">Big</button>
                            <button (click)="makeSmall()">Small</button>
                            <button (click)="makeNormal()">Normal</button>
                            <button (click)="restart();">Restart</button> -->
                            <!-- <button (click)="skip(-10)">Rewind</button> -->
                            <!-- <button (click)="skip(10)">Fastforward</button> -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-sec">
                <div class="row">
                    <div class="col-12">
                        <h3 class="howitworks">how it works</h3>
                    </div>
                </div>
                <div class="row d-md-flex d-none">
                    <div class="col-md-4">
                        <div class="card text-white mb-3">
                            <div class="card-header">
                                <h3 class="heading"> 01
                                    <div class="header-border"></div>
                                </h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">find your coach</h5>
                                <p class="card-text">Answer a few questions, then select a coach based on their
                                    experience, training style and personality. You can change your coach any time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white mb-3">
                            <div class="card-header">
                                <h3 class="heading"> 02
                                    <div class="header-border"></div>
                                </h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">get on a call</h5>
                                <p class="card-text">Hop on a FaceTime call to get to know your coach, share your goals
                                    and develop a training plan together. Throughout your journey, you’ll continue
                                    calibrating.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white mb-3">
                            <div class="card-header">
                                <h3 class="heading"> 03
                                    <div class="header-border"></div>
                                </h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">start shaping</h5>
                                <p class="card-text">Access your workouts in our iOS app and keep up the activities you
                                    already love doing. Your coach will check in daily to keep you on track and tune
                                    your routine.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none">
                    <p-carousel [value]="works" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions"
                        [autoplayInterval]="3000" [circular]="false" styleClass="items-carousel"
                        [showNavigators]="false">
                        <ng-template let-works pTemplate="item">
                            <div class="card text-white mx-2">
                                <div class="card-header">
                                    <h3 class="heading"> {{works.heading}}
                                        <div class="header-border"></div>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{works.cardTitle}}</h5>
                                    <p class="card-text">{{works.cardText}}
                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </section>
    <section id="food-sec">
        <div class="container">
            <div class="food-sec-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="food-heading">
                            <h3 class="heading">KEEP EATING THE FOOD YOU LOVE</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="food-img-wrapper">
                            <img src="assets/landingImg/food.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="food-sec-wrapper-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-wrapper-2">
                            <img src="assets/landingImg/food-2.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="food-heading-2">
                            <h6 class="heading">The <span class="heading-red">EzToned</span> Method gives you meal plans
                                that you will actually enjoy and
                                don't want to stop eating!</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
            </div>
            <div class="food-sec-wrapper-3">

                <div class="row">
                    <div class="col-md-6">
                        <div class="food-heading-3">
                            <h6 class="heading">Your diet is the leading contributor to your success - this is why our
                                approach is all about getting you into an enjoyable system you can follow for life.
                                Whatever your goals are, your EzToned program will evolve to suit your needs and push
                                you further.</h6>
                            <div class="trail-sec d-none d-md-block">
                                <button type="button" class="btn-primary mt-0 mx-1" (click)="start()">
                                    start free trial</button>
                                <p class="trail">7-DAY TRIAL, THEN $19 USD/WEEK</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-wrapper-3">
                            <img src="assets/landingImg/image.png" alt="" srcset="">
                        </div>
                        <div class="col-10 align-self-center mx-auto d-block d-md-none">
                            <div class="img-section text-center my-2">
                                <div class="trail-sec">
                                    <button type="button" class="btn-primary mt-0 mx-1" (click)="start()">
                                        start free trial</button>
                                    <p class="trail ">7-DAY TRIAL, THEN $19 USD/WEEK</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-shadow"></div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12 text-center">
                    <img class="footer-img-logo" src="assets/logo/eztoned-logo-main.png" alt="" srcset="">
                </div>
                <div class="col-md-2 col-6">
                    <ul class="footer-list">
                        <li class="heading">explore
                        </li>
                        <li class="list-item"> Coaching

                        </li>
                        <li class="list-item"> equipment

                        </li>
                        <li class="list-item"> extoned tv
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-6">
                    <ul class="footer-list">
                        <li class="heading">help</li>
                        <li class="list-item">about us</li>
                        <li class="list-item">FAQ</li>
                        <li class="list-item">Contact Us</li>
                        <li class="list-item">shipping policy</li>
                        <li class="list-item">refund policy</li>

                    </ul>
                </div>
                <div class="col-md-2 col-6">
                    <ul class="footer-list">
                        <li class="heading">
                            legal
                        </li>
                        <li class="list-item">terms & Condition </li>
                        <li class="list-item">privacy policy</li>

                    </ul>
                </div>
                <div class="col-md-3 col-6 mx-auto">
                    <ul class="footer-list">
                        <li class="heading">
                            Socials
                        </li>
                        <div class="d-flex">
                            <div class="socials-icons me-2">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="socials-icons me-2">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="socials-icons">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>

                    </ul>
                </div>
            </div>
            <div class="border-line"></div>
            <div class="row my-4">
                <div class="col-md-8 col-12">
                    <span class="copy-right">Copyright © 2020 EzToned All Rights Reserved.</span>
                </div>
                <div class="col-md-2 col-6"><span class="termsPolicy">Terms of Use</span> </div>
                <div class="col-md-2 col-6"><span class="termsPolicy">Privacy Policy</span> </div>
            </div>
        </div>
        <div class="shade"></div>
    </footer>
</app-screen-wrapper>