<app-screen-wrapper>
    <section id="access">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card studio-card card-tv" (click)="selectStudio(false)">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <div class="image">
                                <img class="card-image" src="assets/dashboard/TelevisionSimple.png" alt="" srcset="">
                                <p><img src="assets/dashboard/card-ez-logo.png" alt=""><span class="card-text">TV</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 my-3 my-md-0">
                    <div class="card studio-card card-coach" (click)="selectStudio(true)">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <div class="image">
                                <img class="card-image" src="assets/dashboard/mobileCamera.png" alt="" srcset="">
                                <p><img src="assets/dashboard/card-ez-logo.png" alt=""> <span
                                        class="card-text">Coach</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</app-screen-wrapper>